<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerRemote.Properties.Settings.ADPConnectionString"
            connectionString="Data Source=AYHAM-PC;Initial Catalog=ADP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ServerRemote.Properties.Settings.papersindexConnectionString"
            connectionString="Data Source=.;Initial Catalog=papersindex;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>